*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.08;
}

p {
  color: #3f4959;
  font-size: 1.125rem;
}

p,
a,
cite {
  font-family: "Helvetica", sans-serif;
  line-height: 150%;
  font-style: normal;
}

.container {
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  @media (min-width: 1200px) {
    max-width: 960px;
  }
  @media (min-width: 1600px) {
    max-width: 1160px;
  }
}

.button {
  font-size: 1.125rem;
  padding: 1rem 1.25rem;
  font-weight: bold;
  border-radius: 3rem;
  text-decoration: none;
  display: inline-block;
  &--primary {
    background: #7252a4;
    color: white;
  }
  &--inverse {
    border: 2px solid #e4e7f2;
    color: white;
  }
  @media (min-width: 1200px) {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.col-half {
  flex: 1;
}

.pill {
  font-size: 1rem;
  background: #0fd1a2;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  margin-right: 0.75rem;
}

.masthead {
  margin-bottom: 14rem;
  display: grid;
  grid-template-columns: 1fr;
  &__background {
    background: url("../images/tech_bg.svg"),
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(255, 255, 255, 0.01) 100%
      );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18rem;
    @media (min-width: 1200px) {
      height: 50rem;
      grid-row: 1;
      grid-column: 1/-1;
    }
  }
  &__cta {
    text-align: center;
    margin-top: 8rem;
    h2,
    p {
      margin-bottom: 1.125rem;
    }
    h2 {
      font-size: 2.25rem;
      font-weight: 900;
    }
    @media (min-width: 768px) {
      text-align: left;
    }

    @media (min-width: 1200px) {
      grid-row: 1;
      grid-column: 1/-1;
      margin: auto 0;
      h2 {
        font-size: 4rem;
        max-width: 18ch;
      }
      p {
        max-width: 50ch;
        font-size: 1.25rem;
      }
    }
  }
  @media (min-width: 1200px) {
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 10rem;
  }
}

.features {
  text-align: center;
  &__information {
    margin-bottom: 5rem;
    h2,
    p {
      margin-bottom: 1.25rem;
    }
    h2 {
      font-size: 2.25rem;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto;
      h2 {
        font-size: 4.5rem;
      }
      p {
        font-size: 1.75rem;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
      margin: 8rem 0;
    }
  }
  &__cta {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;

  &__image {
    height: 120px;
    width: 120px;
    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 1.25rem;
  }
  @media (min-width: 1200px) {
    width: 300px;
    &__title {
      font-size: 1.5rem;
    }
    &__description {
      font-size: 1.25rem;
    }
  }
}

.products {
  background: #1d253c;
  color: #e4e7f2;
  padding: 8rem 0;
  &__header {
    text-align: center;
    color: white;
    margin-bottom: 8rem;
    p {
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
      color: white;
    }
    h2 {
      font-size: 2.625rem;
      margin-top: 1.25rem;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto;
      margin-bottom: 10rem;

      h2 {
        font-size: 4.5rem;
      }
    }
  }
  @media (min-width: 1200px) {
    background-image: url("../images/product_bg.svg");
    background-size: 40%;
    background-position: 85%;
    background-repeat: no-repeat;
  }
}

.product {
  margin-bottom: 5rem;
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    color: #e4e7f2;
  }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}

#product-bg {
}

.testimonials {
  padding: 8rem 0;
  &__header {
    text-align: center;
    margin-bottom: 3rem;
    p {
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 2.625rem;
      margin-top: 1.25rem;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto;
      h2 {
        font-size: 4.5rem;
      }
      p {
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    img {
      display: block;
      height: 6rem;
      width: 6rem;
    }
  }
  &__testimonial {
    text-align: center;
    margin-bottom: 5rem;
    .testimonial {
      margin-bottom: 2rem;
      font-style: italic;
    }
    .attestant {
      margin-bottom: 0.5rem;
    }
    .attestant-position {
      font-style: italic;
      color: #979797;
      font-size: 1rem;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto 5rem auto;
      .testimonial {
        font-size: 1.5rem;
      }
    }
  }
  .partners {
    text-align: center;
    h4 {
      margin-bottom: 1.25rem;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 3rem;
    }
    .partner-logo {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(33% - 0.5rem);
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__cta {
      text-align: center;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto 5rem auto;
    }
  }
}

.call-to-action {
  background: #1d253c;
  color: white;
  padding: 8rem 0;
  &__title {
    text-align: center;
    margin-bottom: 3rem;
    h1 {
      font-size: 2.625rem;
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto 4rem auto;
      h1 {
        font-size: 4.5rem;
      }
    }
  }
  &__cta {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__product-list {
    p {
      text-align: center;
      color: #d6d8e5;
      margin-bottom: 3rem;
      font-weight: bold;
    }
    .product-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 2rem 0;
      justify-content: space-between;
      border-top: 2px solid hsla(232, 22%, 87%, 0.33);
      border-bottom: 2px solid hsla(232, 22%, 87%, 0.33);
      p {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 0;
      }
      img {
        height: 2rem;
        width: 2rem;
        display: block;
      }
      &:first-of-type {
        border-bottom: none;
      }
    }
    @media (min-width: 1200px) {
      max-width: 860px;
      margin: 0 auto;
      .product-link {
        p {
          font-size: 2.25rem;
        }
        img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}

.footer {
  background: #12172a;
  padding: 4rem 0;
  &__social {
    .social-title {
      color: white;
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .social-links {
      list-style-type: none;
      display: flex;
      gap: 0 0.5rem;
    }
    @media (min-width: 1200px) {
      .social-title {
        font-size: 1.25rem;
      }
      .social-links img {
        height: 2rem;
      }
    }
  }
  &__navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    margin-bottom: 2rem;
  }
  .nav-menu {
    flex: 1;
    flex-basis: 50%;
    font-size: 0.9rem;
    &__title {
      color: white;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &__list {
      list-style-type: none;
    }
    &__item {
      margin-bottom: 0.5rem;
      a {
        text-decoration: none;
        color: #808080;
      }
    }
    @media (min-width: 1200px) {
      flex-basis: 25%;
      &__title {
        font-size: 1.25rem;
      }
      &__item {
        font-size: 1rem;
      }
    }
  }
}
